name: CI

on:
  push:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/cache/restore@v5
        id: cache
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: node_modules
          key: ${{ hashFiles('package-lock.json') }}
      - run: npm t
